
#section1 {
    animation-delay: 2s;
    animation-duration: 1.5s;
}

#section2 {
    animation-delay: 2s;
    animation-duration: 1.5s;
}

#section3 {
    animation-delay: .5s;
    animation-duration: 1s;
}